@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

/* @media (min-width:320px)  {}
@media (min-width:480px)  {}
@media (min-width:600px)  {}
@media (min-width:801px)  {}
@media (min-width:1025px) {}
@media (min-width:1281px) {} */



@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 

    body{

        background-color: red;
    }
    .sec1{
        background-color: rgb(141, 127, 117);
        color: rgb(175, 31, 31);
        width: 30%;
    }



    /* .sec1 > div > img{
     width: 20%;

    } */
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

    body{

        background-color: blue;
    }}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

    body{

        background-color: yellow;
        
    }
    .sec1{
        background-color: chocolate;
        color: white;
        width: 20%;
       
    }}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    body{

        background-color: purple;
    }


}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 

    body{

        background-color: black;
        color: white;
    }}
@media (min-width:1281px) { /* hi-res laptops and desktops */

body{
    background-color: orange;
    color: purple 
}}